.git
.github
.gocache
.gopath
dist
node_modules
clients/**/node_modules
service/.gopath
.DS_Store
.env
.env.*
*.log
coverage/
**/dist/

# Database files
service/database/
kms/kmsdb

# Large files and directories
*.md
*.txt
docs/
migrations/
clients/
tests/
*.test
service/tests/
service/progressdb

# Build artifacts
*.tar.gz
*.zip
service/*.tar.gz
service/*.zip