[Unit]
Description=miniKMS service for ProgressDB
After=network.target

[Service]
User=minikms
Group=minikms
ExecStart=/usr/local/bin/minikms --socket /var/run/progressdb-minikms.sock --data-dir /var/lib/progressdb/minikms
LimitMEMLOCK=infinity
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target

